<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Puerto Madero Urubó MS</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/calendar.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/919c0a277c.js" crossorigin="anonymous"></script>

  <!-- Data Aos Effect for Calendar -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: rgb(29, 29, 29); color: white;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100" style="background-color: rgb(11, 34, 109) !important; height: 80px !important; margin-bottom: 40px !important;">
      <a style="font-size: 23px; font-style: italic; font-weight: 600;" class="navbar-brand" href="/"><i class="fa-solid fa-anchor"></i> Puerto Madero Urubó MS</a>
      <ul class="navbar-nav" style="text-align: right !important;">
        <li class="nav-item" style="display: inline-flex !important;">
          <% if(session){ %>
            <a class="nav-link" href="/posts/createGeneralPost"><i class="fa-solid fa-images"></i> Posts</a>
            <a class="nav-link" href="/users/team"><i class="fa-solid fa-people-group"></i> Team</a>
            <a class="nav-link" href="/visits/all"><i class="fa-solid fa-calendar-days"></i> Upcoming Visits</a>
            <a class="nav-link" href="/visits/create"><i class="fa-solid fa-van-shuttle"></i> Schedule Visit</a>
            <a class="nav-link" href="/users/profile"><i class="fa-sharp fa-solid fa-user"></i> My Profile</a>
            <a class="nav-link" href="/auth/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
          <% } else{ %>
            <a class="nav-link" href="/auth/signup"><i class="fa-solid fa-user-plus"></i> Create a new Account</a>
            <a class="nav-link" href="/auth/login"><i class="fa-solid fa-right-from-bracket"></i> Login</a>
          <% } %>
        </li>
      </ul>
    </nav>

    <div id="calendar-container">
        <div id="header">
            <div id="monthDisplay"></div>
            <div id="controlBtns">
                <button id="backButton"><i class="fa-solid fa-chevron-left"></i></button>
                <button id="nextButton"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>

        <div id="weekdays">
            <div>Sunday</div>
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
        </div>

        <div id="calendar"></div>
    </div>

    <div id="newEventModal">
        <h2>New Event</h2>

        <input id="eventTitleInput" placeholder="Event Title" />

        <button id="saveButton">Save</button>
        <button id="cancelButton">Cancel</button>
    </div>

    <div id="deleteEventModal">
        <h2>Event</h2>

        <p id="eventText"></p>

        <button id="deleteButton">Delete</button>
        <button id="closeButton">Close</button>
    </div>
  
    <div id="modalBackDrop"></div>
  
    <script src="/js/configCalendar.js"></script>



<%- include("_footer") -%>