<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Puerto Madero Urubó MS</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/919c0a277c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/createVisit.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: white; color: white;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100" style="background-color: rgb(11, 34, 109) !important; height: 80px !important; margin-bottom: 40px !important;">
      <a style="font-size: 23px; font-style: italic; font-weight: 600;" class="navbar-brand" href="/"><i class="fa-solid fa-anchor"></i> Puerto Madero Urubó MS</a>
      <ul class="navbar-nav" style="text-align: right !important;">
        <li class="nav-item" style="display: inline-flex !important;">
          <% if(session){ %>
            <a class="nav-link" href="/posts/createGeneralPost"><i class="fa-solid fa-images"></i> Posts</a>
            <a class="nav-link" href="/users/team"><i class="fa-solid fa-people-group"></i> Team</a>
            <a class="nav-link" href="/visits/calendar"><i class="fa-solid fa-calendar-days"></i> Calendar</a>
            <a class="nav-link" href="/visits/all"><i class="fa-solid fa-calendar-days"></i> Upcoming Visits</a>
            <a class="nav-link" href="/users/profile"><i class="fa-sharp fa-solid fa-user"></i> My Profile</a>
            <a class="nav-link" href="/auth/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
          <% } else{ %>
            <a class="nav-link" href="/auth/signup"><i class="fa-solid fa-user-plus"></i> Create a new Account</a>
            <a class="nav-link" href="/auth/login"><i class="fa-solid fa-right-from-bracket"></i> Login</a>
          <% } %>
        </li>
      </ul>
    </nav>
    <div class="container" style="width: 100% !important;">

<div class="create-container">
  <h1 class="title" style="margin-bottom: 25px;"><i class="fa-solid fa-van-shuttle"></i> Schedule a Visit</h1>

  <form action="/visits/create" method="post">
    <div class="form-horizontal">

      <%- include("_editor") -%>
      <div style="margin-top: 35px;" class="row">
        <div class="col-sm-10">
          <input type="submit" value="Create" class="btn btn-default createBtn" />
          <a class="btn btn-outline-dark" href="/visits/all" style="background-color: gray; color: white;">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>

<%- include("_footer") -%>