<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Puerto Madero Urubó MS</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/919c0a277c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>

<body class="d-flex flex-column min-vh-100" style="background-color: black; color: white;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100" style="background-color: rgb(11, 34, 109) !important; height: 80px !important; margin-bottom: 40px !important;">
      <a style="font-size: 23px; font-style: italic; font-weight: 600;" class="navbar-brand" href="/"><i class="fa-solid fa-anchor"></i> Puerto Madero Urubó MS</a>
      <ul class="navbar-nav" style="text-align: right !important;">
        <li class="nav-item" style="display: inline-flex !important;">
          <% if(session){ %>
            <a class="nav-link" href="/visits/calendar"><i class="fa-solid fa-calendar-days"></i> Calendar</a>
            <a class="nav-link" href="/visits/all"><i class="fa-solid fa-calendar-days"></i> Upcoming Visits</a>
            <a class="nav-link" href="/visits/create"><i class="fa-solid fa-van-shuttle"></i> Schedule Visit</a>
            <a class="nav-link" href="/users/profile"><i class="fa-sharp fa-solid fa-user"></i> My Profile</a>
            <a class="nav-link" href="/auth/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
          <% } else{ %>
            <a class="nav-link" href="/auth/signup"><i class="fa-solid fa-user-plus"></i> Create a new Account</a>
            <a class="nav-link" href="/auth/login"><i class="fa-solid fa-right-from-bracket"></i> Login</a>
          <% } %>
        </li>
      </ul>
    </nav>

<!-- Login Template -->

<div class="login">
    <div class="row">
        <div class="left-side">
            
        </div>
        <div class="right-side">
            <Form class="loginForm" action="/auth/login" method="post">
                <div class="col-md-12 col-md-offset-12">
                    <h2 style="margin-bottom: 40px;">Login to your Account</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" id="username" name="username" required>
                    </div>
                    <div class="form-group" style="display: inline-flex; width: 100%; align-items: center;">
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                        <a onclick="showPassword()" class="eye-password" href="#"><i id="eye-password-icon" class="fa-solid fa-eye"></i></a>
                    </div>
                    <div class="forgot-pass">
                      <a href="#">Forgot Password?</a>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" id="login">Login</button>
                    </div>
                    <div class="form-group">
                        <button href="/auth/signup" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </Form>
        </div>
    </div>
</div>

<script>
  function showPassword(){
    var x = document.getElementById("password");
    var icon = document.getElementById('eye-password-icon')
    if (x.type === "password") {
      x.type = "text";
      if(icon.classList.contains('fa-eye')){
        icon.classList.remove('fa-eye')
        icon.classList.add('fa-eye-slash')
      }
    }else{
      x.type = "password";
      if(icon.classList.contains('fa-eye-slash')){
        icon.classList.remove('fa-eye-slash')
        icon.classList.add('fa-eye')
      }
    }
  }
</script>

<%- include("_footer") -%>