<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Puerto Madero Urubó MS</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/signup.css" />
  <script src="https://kit.fontawesome.com/919c0a277c.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: black; color: white;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100" style="background-color: rgb(11, 34, 109) !important; height: 80px !important; margin-bottom: 40px !important;">
        <a style="font-size: 23px; font-style: italic; font-weight: 600;" class="navbar-brand" href="/"><i class="fa-solid fa-anchor"></i> Puerto Madero Urubó MS</a>
        <ul class="navbar-nav" style="text-align: right !important;">
            <li class="nav-item" style="display: inline-flex !important;">
            <% if(session){ %>
                <a class="nav-link" href="/visits/calendar"><i class="fa-solid fa-calendar-days"></i> Calendar</a>
                <a class="nav-link" href="/visits/all"><i class="fa-solid fa-calendar-days"></i> Upcoming Visits</a>
                <a class="nav-link" href="/visits/create"><i class="fa-solid fa-van-shuttle"></i> Schedule Visit</a>
                <a class="nav-link" href="/users/profile"><i class="fa-sharp fa-solid fa-user"></i> My Profile</a>
                <a class="nav-link" href="/auth/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            <% } else{ %>
                <a class="nav-link" href="/auth/signup"><i class="fa-solid fa-user-plus"></i> Create a new Account</a>
                <a class="nav-link" href="/auth/login"><i class="fa-solid fa-right-from-bracket"></i> Login</a>
            <% } %>
            </li>
        </ul>
    </nav>
    <div class="container" style="width: 100% !important;">

<!-- Sign Up Template -->

    <div class="signup" style=" margin: auto auto !important;">
        <div class="container">
            <div class="row">
                <Form class="signUpForm" action="/auth/signup" method="post" style="width: 70% !important; text-align: center; margin: auto auto !important;">
                    <div class="col-md-12 col-md-offset-12">
                        <h2>Create your new Account!</h2>
                        <!-- username -->
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Set up your Username" id="username" name="username" required>
                        </div>
                        <!-- first name -->
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name" id="firstName" name="firstName" required>
                        </div>
                        <!-- last name -->
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName" required>
                        </div>
                        <!-- email -->
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                        </div>
                        <!-- password -->
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Create a Password" id="password" name="password" required>
                        </div>
                        <!-- confirm password -->
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Repeat your Password" id="repeat_password" name="repeat_password" required>
                        </div>

                        <!-- some metadata -->
                        <div class="form-group forms-metadata">
                            <!-- department -->
                            <select name="department" id="department" name="department">
                                <option value="Sales">Sales</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Engineering">Engineering</option>
                            </select>

                            <!-- age -->
                            <select name="age" id="age" name="age">
                                <% for(var i=0; i<100; i++){ %>
                                    <% var option = i + 1 %>
                                    <option value="<%= option %>"><%= option %></option>
                                <% } %>
                            </select>

                            <!-- gender -->
                            <select name="gender" id="gender" name="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Prefer not to say">Prefer not to say</option>
                            </select>
                        </div>

                        
                        
                        <div class="form-group" style="margin-bottom: 40px;">
                            <button class="btn btn-primary btn-block" id="signup" 
                                style="background-color: rgb(19, 48, 141) !important; border-color: rgb(19, 48, 141) !important;"
                            >Sign Up</button>
                        </div>
                    </div>
                </Form>
            </div>
        </div>
    </div>

    <%- include("_footer") -%>